* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  background-color: #603f26;
  color: #ffeac5;
}

a {
  color: #ffeac5;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid;
}

td {
  padding: 10px;
}

.container {
  width: 100%;
  display: flex;
  padding: 20px;
}

.form-container {
  width: 100%;
  max-width: 400px;
  height: 350px;
  padding: 30px 25px;
  background-color: #6c4e31;
  border-radius: 10px;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  padding: 20px;
  overflow-x: auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

::placeholder {
  color: #6c4e31;
  opacity: 1;
}

input[type="text"],
input[type="date"] {
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 700;
  background-color: #ffdbb5;
  color: #603f26;
}

input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 800;
  background-color: #ffdbb5;
  color: #603f26;
}

.status-checkbox {
  display: none;
}

.status-checkbox + label {
  cursor: pointer;
}

.status-checkbox + label .check-icon {
  display: inline-block;
}

.status-checkbox + label .uncheck-icon {
  display: none;
}

.status-checkbox:checked + label .check-icon {
  display: none;
}

.status-checkbox:checked + label .uncheck-icon {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    width: 100%;
  }

  .table-container {
    width: 100%;
    padding: 0;
    margin: 20px;
  }

  table {
    width: 100%;
  }
}
